body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}
  
.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="number"] {
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
  
select {
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
  
button {
    width: 80%;
    height: 30px;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
  
button:hover {
    background-color: #3e8e41;
}
  
#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center; 
    background-color: #f8f9fa;
    padding: 10px; 
    border-radius: 0 0 8px 8px; 
    width: 100%; 
    margin-top: 39rem; 
    text-align: center; 
}
